@charset "UTF-8";

main {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	font-family: serif;
	text-align: center;
}

/*安心安全-ページタイトル*/
.safe-text-box {
	margin: 5% auto;
	width: 50%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.safe-text-box p {
	padding: 5% 0;
}

.safe-text-box p .br::before {
    content: "\A";
    white-space: pre;
}

/*セクション内共通ゾーン*/
.flex-zone {
	display: flex;
}

.img-box {
	width: 50%;
	overflow: hidden;
}

.safe:first-child {
	margin-top: 10%;
}

.safe {
	position: relative;
}

.safe h2 {
    margin: 5% 0;
}

.safe img {
	width: 100%;
}

.safe .text-box {
	width: 40%;
	height: 280px;
	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	top: 80%;
	left: 40%;
	box-shadow: 200px 100px 0 #3f4c6f;
    padding: auto;
}

.safe .text-box p {
	font-size: 17px;
	line-height: 3;
    padding: 13%;
}

.safe .text-box p .br::before {
	content: "\A";
	white-space: pre;
}

.safe .text-box p .br::after {
	content: "\A";
	white-space: pre;
}

/*安心安全-セクションズ*/
.food {
	margin-top: 20%;
}

.us {
	margin-top: 40%;
}

.healthy {
	margin-top: 40%;
}

/*下のピックアップのコピペゾーン*/
.pickup-title h2 {
	border-top: 1px solid #ccc;
	padding-top: 10%;
	margin-top: 40%;
	margin-bottom: 10%;
}

.pickup img {
	width: 100%;
	vertical-align: bottom;
}

.pickup {
	margin-bottom: 15%;
	display: flex;
	justify-content: space-between;
}

.pickup p {
    font-size: 12px;
}

.pickup-c1,
.pickup-c2,
.pickup-c3 {
	width: 30%;
	position: relative;
}

.p-moji {
	width: 85%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.p-moji h4 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10%;
}

/*おぱ*/

.pickup-c1 a:hover,
.pickup-c2 a:hover,
.pickup-c3 a:hover{
    opacity: 0.7;
    transition: 0.3s;
}
