@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	overflow: scroll;
}

a {
	font-family: sans-serif;
}

/*-------------------------------------------------------------------------------------------*/
/*                                       スマホデザイン                                        */
/*-------------------------------------------------------------------------------------------*/
@media screen and (max-width:600px) {
	.Allwrapper {
		width: 100%;
	}

	header {
		display: flex;
		background-color: #30384D;
		box-shadow: 2px 2px 2px #ccc;
		z-index: 100;
	}

	.header-left {
		width: 30%;
		padding: 1%;
		margin-top: 2%;
		overflow: hidden;
	}

	.header-left img {
		width: 100%;
	}

	.header-right {
		width: 10%;
		margin-left: auto;
		padding: 3%;
		position: relative;
	}

	.header-right img {
		width: 100%;
	}

	/* -----  ナビゲーション-非表示部分  ----- */
	.menu {
		width: 100%;
		font-size: 1.5em;
		background-color: #fff;
		line-height: 2;
		position: absolute;
		top: 12%;
		left: 0;
		z-index: 100;
	}
	
	.menu .inmenu {
		display: none;
	}

	.menu li {
		list-style: none;
		border-bottom: 0.2px solid #ccc;
	}

	.menu li a {
		display: block;
		text-align: left;
		padding: 2%;
		box-sizing: border-box;
		text-decoration: none;
		color: #000;
	}

	.menu li a span {
		display: block;
		text-align: right;
		float: right;
		font-size: 0.9em;
	}

	/* -----  ナビのなかのナビ  ----- */
	.in-inmenu {
		display: none;
		background-color: gray;
	}

	.in-inmenu li a {
		font-size: 0.9em;
		color: #fff;
	}


	/*    スリックスライド    */
	.topimage_wrapper {
		z-index: 0;
		position: relative;
		width: 100%;
		height: 90vh;
		border-bottom: 1px solid gray;
	}

	.topimgSlide li {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		height: 90vh;
	}

	.topimgSlide li.topimg01 {
		background-image: url(../images/slide-g3.jpg);
		background-position: bottom;
	}

	.topimgSlide li.topimg02 {
		background-image: url(../images/slide-g2.jpg);
		background-position: 60%
	}

	.topimgSlide li.topimg03 {
		background-image: url(../images/slide-g1.jpg);
		background-size: cover;
		background-position: 10%;
	}


	.topimgSlide .slick-dots li button:before {
		margin-top: 80vh;
		font-size: 60px;
		margin-left: 35vw;
		color: white;
		z-index: 1000;
	}


	/*=============*/

	.topimage_p {
		position: absolute;
		top: 30%;
		left: 10%;
		z-index: 10;
		font-size: 1.8em;
		font-family: serif;
		font-weight: 500;
		color: #fff;
		line-height: 2.7;
		text-shadow: 1px 2px 5px rgba(0, 0, 0, 2);
		/*
        0.5px 0.5px 0 rgba(0,0,0,0.4),
        -0.5px -0.5px 0 rgba(0,0,0,0.5),
        -0.5px 0.5px 0 rgba(0,0,0,0.5),
        0.5px -0.5px 0 rgba(0,0,0,0.5)*/
		animation: Policyanimation 10s;
	}

	:root {
		--main-color: rgb(49, 56, 75);
	}

	/*==新しい濃いネイビー#30384D,(49,56,75)===ロゴの色(63,76,111)*/
	ul {
		list-style-type: none;
	}

	a {
		text-decoration: none;
	}

	.displayflex {
		display: flex;
	}

	/*footer==============*/


	footer {
		background-color: rgb(63, 76, 111);
	}

	.footer_wrapper {
		width: 100vw;
		/*topのキャッチコピーのleftサイズと合わせてます。=======*/
		min-width: 100vw;
		margin: 0 auto;
		font-family: serif;
		padding-top: 5%;
	}

	.footerNav_box p a,
	.footerNav_box p a:visited {
		color: #fff;
	}

	.footerNav_item a,
	.footerNav_item a:visited,
	.footer_policy a,
	.footer_policy a:visited {
		color: rgba(255, 255, 255, 0.7);
		transition: .3s;
	}

	.footerNav_item a:hover,
	.footer_policy a:hover {
		color: #fff;
		transition: .3s;
	}

	.footer_wrapper a {
		display: block;
	}

	.footer_container {
		display: flex;
	}

	.footerNav {
		box-sizing: border-box;
		width: 70%;
		padding-right: 5%;
	}

	.footerNav_bigbox {
		display: flex;
		flex-wrap: wrap;
	}

	.footerNav_box {
		box-sizing: border-box;
		padding: 20px 15px;
		width: calc(100% / 3);
	}

	.footerNav_box p {
		font-size: 0.95em;
	}

	.footerNav_item {
		font-size: 0.85em;
		box-sizing: border-box;
		margin-top: 1.1em;
		margin-bottom: 1.1em;
		line-height: 2;
	}

	.footerLogoBox {
		width: 30%;
	}

	.footerLogoBox div {
		box-sizing: border-box;
		padding-top: 10%;
		width: 60vw;
		margin-left: 17vw;
	}

	.footerLogoBox img {
		width: 50vw;
	}

	.footerLogoBox p {
		width: 100vw;
		box-sizing: border-box;
		font-size: 0.9em;
		color: #fff;
		text-align: center;
		margin-left: auto;
	}

	.footer_policy {
		display: flex;
		justify-content: space-between;
		font-size: 0.5em;
		padding: 20px 15px;
	}

	.footer_wrapper > p {
		text-align: center;
		font-size: small;
		padding-top: 1em;
		padding-bottom: 1em;
		color: rgba(255, 255, 255, 0.5);
	}

	/*====================*/



	.recruit_wrapper {
		width: 100vw;
		margin-top: 8vw;
		margin-bottom: 8vw;
	}

	.recruit_wrapper h2 {
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}

	.recruit_container {
		display: block;
		margin: 0 auto;
		min-width: 100vw;
		;
		width: 80%;
	}

	.recruit_container li {
		position: relative;
		box-sizing: border-box;
		border: 1px solid gray;
		width: 100%;
		margin-top: 5%;
	}

	.recruit_container img {
		width: 100%;
		vertical-align: top;
	}

	.recruit_container li:first-child::before {
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%);
		content: "";
		width: 10.6vw;
		height: 10.6vw;
		min-width: 35%;
		min-height: 50%;
		background-image: url(../images/saiyobanner1.png);
		background-size: cover;
	}

	.recruit_container li:last-child::before {
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%);
		content: "";
		width: 10.6vw;
		height: 10.6vw;
		min-width: 35%;
		min-height: 50%;
		background-image: url(../images/saiyobanner2.png);
		background-size: cover;
	}


	.recruit_container a {
		display: block;
	}





	/*-------------------------------------------------------------------------------------------*/
	/*                                       タブレットデザイン                                     */
	/*-------------------------------------------------------------------------------------------*/
	@media screen and (min-width:768px) {
		/*タブレット用として画面幅を768pxまでに設定*/
	}


	/*-------------------------------------------------------------------------------------------*/
	/*                                       PC   デザイン                                        */
	/*-------------------------------------------------------------------------------------------*/
	@media screen and (min-width:1024px) {
		/*PC用として画面幅を1024pxまでに設定*/
	}